
<div id="qualidadeSENAI" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
            <p class="texto-centro">PELO FUTURO DO TRABALHO</p>
        </div>
        <div class="carousel-item" data-interval="15000">
            <p class="titulo-ge">MISSÃO</p>

            <p class="conteudo-ge">
                Promover a Educação Profissional e Tecnológica,
                a inovação e transferência de tecnologias industriais, contribuindo para elevar a competitividade
                da indústria brasileira.
            </p>
        </div>
        <div class="carousel-item" data-interval="15000">
            <p class="titulo-ge">VISÃO</p>

            <p class="conteudo-ge">
                Consolidar-se como líder estadual em Educação Profissional e Tecnológica
                e ser reconhecido como indutor da inovação e transferência de tecnologias
                para a indústria brasileira, atuando com padrão internacional de excelência.
            </p>
        </div>
        <div class="carousel-item" data-interval="15000">
            <p class="titulo-ge">VALORES</p>
            <div class="row">
                <div class="col-6">
                    <p class="conteudo-ge">
                        Transparência<br>
                        Livre Iniciativa<br>
                        Satisfação do Cliente<br>
                    </p>
                </div>
                <div class="col-6">
                    <p class="conteudo-ge">
                        Ética<br>
                        Alta Performance<br>
                        Valorização das Pessoas<br">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>